body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  background-image: linear-gradient(
      90deg,
      rgba(200, 0, 0, 0.5) 50%,
      transparent 50%
    ),
    linear-gradient(rgba(245, 188, 188, 0.5) 50%, transparent 50%);
  background-size: 50px 50px;
}

#title {
  font-family: Apple Braille;
  text-shadow: 0 0 30px black;
  color: white;
  position: absolute;
  display: flex;
  top: 0;
  transition: all 0.15s ease-in-out;
}

#cookie {
  height: 50px;
  width: 50px;
  background-color: #e5bf8f;
  position: absolute;
  border-radius: 60px;
  transition: all 0.15s ease-in-out;
  background-image: radial-gradient(#5a3709 17%, transparent 16%),
    radial-gradient(#5a3709 15%, transparent 17%);
  background-size: 20px 20px;
  background-position: 0 0, 30px 30px;
  box-shadow: 0 0 10px #00000044;
}
